*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgba(38, 12, 206, 0.566);
    color:rgb(5, 5, 5);
}  
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 30px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 30px;
    padding: 25px 0;
}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}